BOT_API_TOKEN=

IPINFO_TOKEN=
CLOUDFLARE_API_TOKEN=
IPREGISTRY_API_TOKEN=

MAXMIND_DB_CITY_URL=https://github.com/P3TERX/GeoLite.mmdb/raw/download/GeoLite2-City.mmdb
MAXMIND_DB_ASN_URL=https://github.com/P3TERX/GeoLite.mmdb/raw/download/GeoLite2-ASN.mmdb
MAXMIND_DB_ROOT=/app/databases

ENABLE_SUBSCRIPTION_CHECK=true
OUTBOUND_PROXY=
